
.hidden {
   display: none !important; 
}/* Acá van tus reglas de estilo */

.show{
	display: block !important;
}

.wrong{
	color:red !important;
}

.top{
	text-align: 
}

.center{
text-align: center;
}

h1{
color:white;
font-size:50px;

}

.text
{
width:400px;
height:300px;
border: 1px;
}


body {
background-image: url(fondo.jpg);
background-repeat: no-repeat;
background-size: 1900px;
background-position: center 0px;
}

.tamaño{
font-size: 20px;
font-family: 'Bookman Old Style'
}






