
.hidden {
   display: none !important; 
}

.show {
	display: block !important;
}

.center{
		float:none;
		text-align: center;
}

.Boton{
		width: 100px;
	 	border-radius: 25px;
	 	cursor: pointer;
	 	margin: 5em;
	 	padding: 30px;
}

.right{
text-align: right
}

.letra{
	color: white;
	font-size:50px;
	font-weight: 900;
	}
.block{
	display: block;
}
.letra-2{
color: white;
font-size:25px;
font-weight: 900;
}

.text
{
width:300px;
height:200px;
border: 1px;
}


body {
background-image: url(fondo.png);
background-repeat: no-repeat;
background-size: 1350px;
background-position: center 0px;
}

.tamaño{
font-size: 20px;
font-family: 'Bookman Old Style'
}






